<h3>Events <span class="not-badge">({{model.length}})</span></h3>
<a href="#" {{action 'updateAll' model}}>Set Images</a>
<br>
<br>

<div class="row">
  <div class="col-sm-4">
    {{#each model as |event index|}}
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">{{#link-to 'event-list.event' event.id}} #{{index}}: {{event.name}} {{/link-to}}</h4>
        </div>
      </div>
    {{else}}
      <h2 class="mute">No content :(</h2>
    {{/each}}
  </div>
  <div class="col-sm-8">{{outlet}}</div>
</div>
