<h2>Events</h2>

<div class="row">
  <div class="col-md-9">
    {{#each model as |event index|}}
      <div class="media">
        <div class="media-left">
          <img src={{event.logo}} class="media-object" style="width: 100px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{#link-to 'event-list.event' event.id}} #{{index}} {{/link-to}} {{event.name}}</h4>
        </div>
      </div>
    {{else}}
      <h2 class="mute">No content :(</h2>
    {{/each}}
  </div>
  <div class="col-md-3">{{outlet}}</div>
</div>
